.main {
  max-inline-size: 40rem;
  margin-inline: auto;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 2rem;
}

.card {
  padding: 1rem;
  background: white;
  color: #222;
}

.eventList {
  margin: 0;
  dt {
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--font-size-sm);
    &:not(:first-child) {
      margin-block-start: 1rem;
    }
  }
  dt,
  dd {
    margin: 0;
    padding: 0;
  }
}
