.main {
  max-inline-size: var(--size-lg);
  margin-inline: auto;
  padding: var(--size-7);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--size-14), 1fr));
  gap: var(--size-5);
}

.card {
  padding: var(--size-5);
  background: var(--gray-1);
  color: var(--gray-9);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-3);
}

.eventList {
  margin: 0;
  dt {
    opacity: 0.4;
    text-transform: uppercase;
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-sm);
    font-family: var(--font-mono);
    letter-spacing: var(--font-letterspacing-4);
    &:not(:first-child) {
      margin-block-start: var(--size-4);
    }
  }
  dt,
  dd {
    margin: 0;
    padding: 0;
  }
}
